.gray_button {
    border-radius: 38px;
    font-size: 2.25em;
    color: white;
    display: inline-block;
    width: 12%;
    background: #999A9C 0% 0% no-repeat padding-box;
    margin: 3%;
    padding: 0.7%;
}

.yellow_button {
    border-radius: 38px;
    font-size: 2.25em;
    color: white;
    display: inline-block;
    width: 12%;
    background: #FFDD00 0% 0% no-repeat padding-box;
    margin: 3%;
    padding: 0.7%;
}