td:nth-child(1) {
    text-align: left;
    width: 200px;
}

td:nth-child(2) {
    text-align: center;
    width: 100px;
}

td:nth-child(3) {
    text-align: right;
    width: 150px;
}

th:nth-child(1) {
    text-align: left;
    width: 200px;
}

th:nth-child(2) {
    text-align: center;
    width: 100px;
}

th:nth-child(3) {
    text-align: right;
    width: 150px;
}

.amount{
    text-align: right;
    width: 300px;
}