.select_button {
  border-radius: 20px;
  font-size: 200%;
  display: block;
  padding: 6% 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  border: 4px solid rgba(255, 227, 44, 0.48);
  color: #ffd21e;
}

.select_button:hover {
  background: linear-gradient(to right, rgb(255, 226, 89), rgb(255, 204, 81));
  color: white;
}
